@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
